*body {
  margin: 0px;
  background-color: peru;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
}
#guestbook-title {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}
#guestbook-container {
  gap: 1rem;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 40rem) {
  #guestbook-container {
    flex-direction: column;
  }
}
#content-box {
  width: auto;
  height: 5rem;
}

#guestbook-messages {
  margin-top: 5rem;
  margin-left: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  /* align-items: center; */
  width: auto;
  gap: 3px;
  flex-direction: column;
}

.guestbook-message-parent {
  border: 2px;
  padding: 1rem;
  border-style: solid;
  border-color: gray;
}
